body {
    padding: 10px;
}

a.listing-container  {
    color: initial;
    text-decoration: initial;
    height: 250px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

img    {
    width: 33%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}

.listing-text   {
    padding: 15px;
    width: 67%;
}

.listing-name   {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}

.listing-time   {
    font-size: 12px;
    color: #788087;
    font-weight: 600;
}

textarea    {
    width: 50%;
    padding: 5px;
    height: 100px;
}

.create-listing {
    width: 100%
}

.create-listing .label  {
    width: 10%;
}

.winner {
    color: green;
}