{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        {% for listing in listings %}
        <div class="listing-container">
            <img src="/static/auctions/{{ listing.image_name }}" alt="Image of {{ listing.name }}">
            <div class="listing-text">
                <p class="listing-name">{{ listing }}</p>
                <p><b>Price: </b>${{ listing.highest_bid }}</p>
                <p>{{ listing.description }}</p>
                <p class="listing-time">Created {{ listing.time }}</p>
            </div>
        </div>
        {% endfor %}
{% endblock %}