{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
    <img src="/static/auctions/{{ listing.image_name }}" alt="Image of {{ listing.name }}">
    <p>{{ listing.description }}</p>
    <h4>Price: ${{ listing.highest_bid }}</h4>

    {{ bid_amount }} bids placed.

    <h4>Details</h4>
    <ul>
        <li>Listed by: {{ listing.lister }}</li>
        <li>Category: {{ listing.category }}</li>
        <li>Placed at: {{ listing.time }}</li>
        <li>Starting price: ${{ listing.start_price }}</li>
        <li>Active: {{ listing.is_active }}</li>
    </ul>

    <h4>Comments</h4>
{% endblock %}