{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
    <img src="/static/auctions/{{ listing.image_name }}" alt="Image of {{ listing.name }}">
    <p>{{ listing.description }}</p>
    <h4>${{ listing.highest_bid }}</h4>

    <form method="POST" action="{% url 'listing' listing_id=listing_id %}">
        {% csrf_token %}
        {{ bid_form }}
    </form>
    {% if listing.highest_bidder == "no bids yet" %}
        <p>No bids yet.</p>
    {% else %}
        <p>
            {{ bid_amount }}
            {% if bid_amount == 1 %}
                bid
            {% else %}
                bids
            {% endif %}
            placed. 
            
            {% if listing.highest_bidder == user %}
                Your bid is the current highest bid.
            {% endif %}
        </p>
    {% endif %}
    
    {% if listing.is_active %}
        <form method="POST" action="{% url 'listing' listing_id=listing_id %}">
            {% csrf_token %}
            {% if in_watchlist %}
                <input name="remove" type="submit" value="Remove from Watchlist"/>
            {% else %}
                <input name="add" type="submit" value="Add to Watchlist"/>
            {% endif %}
        </form>

        {% if listing.lister == user %}
            <form method="POST" action="{% url 'listing' listing_id=listing_id %}">
                {% csrf_token %}
                <input name="unlist" type="submit" value="Unlist">
            </form>
        {% endif %}

    {% else %}
        <b>
            {% if user == listing.highest_bidder %}
                <p class="winner">Congratulations! You have won this auction.</p>

            {% else %}
                {% if user == listing.lister %}
                    <p>You have unlisted this item.
                {% else %}
                    <p>This item has been unlisted.
                {% endif %}

                {% if not listing.highest_bidder == "no bids yet" %}
                    <span class="winner">                    
                        {{ listing.highest_bidder }}
                    </span> 
                    is the winner.
                </p>
                
                {% endif %}
            {% endif %}
        </b>
    {% endif %}
    <hr>
    
    <h4>Details</h4>
    <ul>
        <li>Listed by: {{ listing.lister }}</li>
        <li>Category: {{ listing.category }}</li>
        <li>Placed at: {{ listing.time }}</li>
        <li>Starting price: ${{ listing.start_price }}</li>
        <li>Active: {{ listing.is_active }}</li>
    </ul>
    <hr>

    <h4>Comments</h4>
    <form method="POST" action="{% url 'listing' listing_id=listing_id %}">
        {% csrf_token %}
        {{ comment_form }}
        <br>
        <input type="submit">
    </form>
    {% for comment in comments %}
        <div>
            {{ comment.commenter }}:
            {{ comment.comment }}
            {{ comment.time }}
        </div>
        <br>
    {% endfor %}
{% endblock %}