{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>
        {% if not watchlist %}
            <p>Nothing here so far.</p>
        {% endif %}
        {% for listing in watchlist %}
        <a class="listing-container" href="{% url 'listing' listing_id=listing.id %}">
            <img src="/static/auctions/{{ listing.image_name }}" alt="Image of {{ listing.name }}">
            <div class="listing-text">
                {% if listing.is_active %}
                    <p class="listing-name">{{ listing }}</p>
                {% else %}
                    {% if listing.highest_bidder == user %}
                        <p class="listing-name won">{{ listing }} [WON]</p>
                    {% elif listing.lister == user %}
                        <p class="listing-name closed">{{ listing }} [CLOSED]</p>
                    {% elif not listing.highest_bidder == user %}
                        <p class="listing-name lost">{{ listing }} [CLOSED]</p>
                    {% endif %}
                {% endif %}

                <p><b>Price: </b>${{ listing.highest_bid }}</p>
                <p>{{ listing.description }}</p>
                <p class="listing-time">Created {{ listing.time }}</p>
            </div>
        </a>
        {% endfor %}
{% endblock %}